[submodule "editor/libs/imgui"]
	path = editor/libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "editor/libs/ImGuiFileDialog"]
	path = editor/libs/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
