[submodule "editor/libs/imgui"]
	path = editor/libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "editor/libs/ImGuiFileDialog"]
	path = editor/libs/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "editor/libs/tinyxml2"]
	path = editor/libs/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
